<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="access" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.AccessEventCompositeJsonEncoder">
            <providers>
                <timestamp />
                <pattern>
                    <pattern>
                        {
                        "tags": "access-log",
                        "method": "%m",
                        "size": "%b",
                        "code" : "%s",
                        "@fields.requested_uri": "%U",
                        "@fields.elapsed_time" : "%D",
                        "ip": "%a",
                        "query":"%q",
                        "referer":"%header{referer}",
                        "requested_host":"%header{host}",
                        "timestamp": "%date{yyyy-MM-dd'T'HH:mm:ss.SSSZZ}",
                        "useragent":"%header{user-agent}",
                        "Forwarded":"%header{Forwarded}"
                        }
                    </pattern>
                </pattern>
            </providers>
        </encoder>
    </appender>

    <appender-ref ref="access" />
</configuration>